@model DTO.UI_Dtos.PaginatedMovieDto

<div class="partialView">
    <div class="flex-wrap-movielist 3152 mv-grid-fw">
        @foreach (var x in Model.Movies)
        {
            <div class="movie-item-style-2 movie-item-style-1">
                <img src="@x.Image" alt="">
                <div class="hvr-inner">
                    <a href="/Movie/MovieDetails/@x.Id"> Filme Git <i class="ion-android-arrow-dropright"></i> </a>
                </div>
                <div class="mv-item-infor">
                    <h6><a href="/Movie/MovieDetails/@x.Id">@x.Name</a></h6>
                    <p class="rate"><i class="ion-android-star"></i><span>@x.Score.ToString("0.0")</span> /10</p>
                </div>
            </div>
        }
    </div>
</div>

<!-- Sayfalama -->
@* <div class="pagination">
    @if (Model.CurrentPage > 1)
    {
        <a href="#" data-page="@(Model.CurrentPage - 1)">Previous</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a href="#" class="@(i == Model.CurrentPage ? "active" : "")" data-page="@i">@i</a>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a href="#" data-page="@(Model.CurrentPage + 1)">Next</a>
    }
</div> *@
