@model DTO.UI_Dtos.PaginatedMovieDto

@{
    ViewData["Title"] = "MovieListByGenre";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<style>
    /* Arama çubuğu kapsayıcı stil */
    .search-container {
        width: 100%; /* Genişlik: Sayfanın %80'i */
        max-width: 1150px; /* Maksimum genişlik */
        margin: 0 auto; /* Ortalamak için margin */
        padding: 10px 0; /* Üst ve alt boşluk */
    }

    /* Arama çubuğu stil */
    .search-bar {
        width: 100%; /* Kapsayıcı kadar geniş */
        padding: 10px;
        border: 1px solid #ccc; /* Çerçeve */
        border-radius: 5px; /* Köşeleri yuvarla */
        font-size: 16px; /* Yazı boyutu */
    }

</style>

<link href="~/css/movelist.css" rel="stylesheet" />
<body>
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>Tüm Fİlmler</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="#">Anasayfa</a></li>
                            <li> <span class="ion-ios-arrow-right"></span>Film Listesi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div>
            <div class="search-container top-search">
                <input type="text" class="search-bar" placeholder="Bir film adı veya seri girin">
            </div>

        </div>
    </header>

    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">


                    <div class="topbar-filter fw">
                        <p>Toplamda <span>@ViewBag.moviecount Film</span> Bulundu</p>
                        <label>Sıralama</label>
                        <partial name="~/Views/Movie/FilterBarPartial.cshtml" />
                        <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                        <a href="moviegridfw.html" class="grid"><i class="ion-grid active"></i></a>
                    </div>

                    <div class="xd">
                        <div class="flex-wrap-movielist mv-grid-fw">
                            <link href="~/css/movelist.css" rel="stylesheet" />


                            @foreach (var x in Model.Movies)
                            {
                                <div class="movie-item-style-2 movie-item-style-1">
                                    <img src="@x.Image" alt="">
                                    <div class="hvr-inner">
                                        <a href="/Movie/MovieDetails/@x.Id"> Filme Git <i class="ion-android-arrow-dropright"></i> </a>
                                    </div>
                                    <div class="mv-item-infor">
                                        <h6><a href="/Movie/MovieDetails/@x.Id">@x.Name</a></h6>
                                        <p class="rate"><i class="ion-android-star"></i><span>@x.Score.ToString("0.0")</span> /10</p>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <div class="topbar-filter">
                        <label>Movies per page:</label>
                        <select>
                            <option value="range">20 Movies</option>
                            <option value="saab">10 Movies</option>
                        </select>


                        <div class="pagination2">

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <a href="#" class="@(i == Model.CurrentPage ? " " : "")" data-page="@i">@i</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        function loadMovies(sortBy, page, id) {
            $.ajax({
                url: '/Movie/MovieListByGenreSortBy',
                type: 'GET',
                data: { sortBy: sortBy, page: page, id: id },
                success: function (data) {

                    var movieList = $(".flex-wrap-movielist");
                    movieList.html(""); // Mevcut listeyi temizle

                    data.movies.forEach(function (movie) {
                        var movieItem = `
                                <div class="movie-item-style-2 movie-item-style-1">
                                    <img src="${movie.image}" alt="">
                                    <div class="hvr-inner">
                                        <a href="/Movie/MovieDetails/${movie.id}"> Filme Git <i class="ion-android-arrow-dropright"></i> </a>
                                    </div>
                                    <div class="mv-item-infor">
                                        <h6><a href="/Movie/MovieDetails/${movie.id}">${movie.name}</a></h6>
                                        <p class="rate"><i class="ion-android-star"></i><span>${movie.score.toFixed(1)}</span> /10</p>
                                    </div>
                                </div>`;
                        movieList.append(movieItem); // Oluşturulan öğeyi ekle
                    });
                },
                error: function () {
                    alert("Bir hata oluştu, lütfen tekrar deneyin.");
                }
            });
        }


        $('#filterbar').change(function () {
            var selectedValue = $(this).val();
            var id = $('#filterbar').data('category-id'); // id'yi saklayıp buradan alabilirsiniz
            loadMovies(selectedValue, 1, id);
        });


        $(document).on('click', '.pagination2 a', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            var sortBy = $('#filterbar').val();
            var id = $('#filterbar').data('category-id'); // id'yi buradan al
            loadMovies(sortBy, page, id);
        });

    });
</script>