@model List<DTO.UI_Dtos.MovieDetailActorDto>
<div class="mvcast-item">
    @foreach (var x in Model)
    {
        <div class="cast-it">
            <div class="cast-left">
                <h4>
                    @(string.Join("", ((x.firstName ?? "") + " " + (x.lastName ?? "")).Split(' ')
                        .Where(name => !string.IsNullOrEmpty(name))
                        .Select(name => name.Substring(0, 1)))
                        )
                </h4>
                <a href="https://www.google.com/search?q=@( @x.firstName +" "+ @x.lastName)">
                    @x.firstName @x.lastName
                </a>
            </div>
            <p>...  @x.castName</p>
        </div>
    }
</div>
