@model List<DTO.UI_Dtos.MovieGenreDto>
<html>
<head>

</head>

<body>
    <div class="slider sliderv2">
        <div class="container">
            <div class="row">
                <div class="slider-single-item">
                    @foreach (var x in Model)
                    {
                        <div class="movie-item">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <div class="title-in">
                                        <div class="cate">
                                            @foreach (var genre in x.Genres)
                                            {
                                                <span class="blue"><a href="#">@genre</a></span>
                                            }
                                        </div>
                                        <h1>
                                            <a class="movietitlename">
                                                @x.name
                                                <br />
                                                <span>@x.releaseDate.Year</span>
                                            </a>
                                        </h1>
                                        <div class="social-btn">
                                            <a href="#" class="parent-btn"><i class="ion-play"></i>Fragman</a>
                                            <a href="#" class="parent-btn"><i class="ion-heart"></i>Favorilere Ekle</a>
                                            <div class="hover-bnt">
                                                <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>Paylaş</a>
                                                <div class="hvr-item">
                                                    <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                                    <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                                    <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                                                    <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mv-details">
                                            <p><i class="ion-android-star"></i><span>@x.score.ToString("0.0")</span> /10</p>
                                            <ul class="mv-infor">
                                                <li>Film Süresi: @x.runTime Dakika </li>
                                                <li>  Çıkış Tarihi: @x.releaseDate.ToShortDateString()</li>
                                            </ul>
                                        </div>
                                        <div class="btn-transform transform-vertical">
                                            <div><a href="/movie/moviedetails/@x.id" class="item item-1 redbtn">Filme Git</a></div>
                                            <div><a href="/movie/moviedetails/@x.id" class="item item-2 redbtn hvrbtn">Filme Git</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="mv-img-2">
                                        <a href="/movie/moviedetails/@x.id"><img class="slidermovieimage" src="@x.image" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
